{% extends "RITSOFT_APP/admin/base.html" %}
{% load static %}
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Academic Year Setting</h2>
                </div>
            </div>

        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <label>Current Academic Year :</label>
                    {{ cur_acd_yr }}
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <label>Add Academic Year</label>
                    <select class="form-control" name="acd" required>
                        <option value="">--select--</option>
                        <option value="{{ new_acd_yr }}">{{ new_acd_yr }} </option>
                    </select>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-primary btn-block" value="Add" name="change">
                </div>
            </div>

        </form>

    </div> <!-- /.container -->
    </div>
    <!-- /#page-wrapper -->

{% endblock content %}