{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
        <title>RIT Soft v2 - {{ title }}</title>
    {% else %}
        <title>RIT Soft v2</title>
    {% endif %}
    <link rel="icon" type="image/png" href="{% static 'images/logob.png' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static 'images/logob.png' %}" alt="RIT" style="width:30px"
                                                  id='Logo'></a>
        </div>
        <div class="navbar-header" style="padding-top: 20px">
            <h7 style="color :#007bff ; font-family: 'Berkshire Swash', cursive; font-size: 14px;"><span
                    style="color :black;">RIT</span>Soft <span style="color :red;">v2</span></h7>
        </div>

        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li><a href="pplfacultydetails.php"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="changepd.php"><i class="fa fa-key fa-fw"></i> Change Password</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <!-- /side nav -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <!-- <li class="sidebar-search">
                   <div class="input-group custom-search-form">
                         <input type="text" class="form-control" placeholder="Search...">
                         <span class="input-group-btn">
                         <button class="btn btn-default" type="button">
                             <i class="fa fa-search"></i>
                         </button>
                     </span>
                     </div>
                    /input-group
                 </li>-->
                    <li>
                        <a href="{% url 'admin_home' %}"><i class="fa fa-user fa-fw"></i>
                            Admin
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'designation' %}"><i class="fa fa-table fa-fw"></i>Designation</a>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{% url 'change_academic_year' %}"><i class="fa fa-table fa-fw"></i>Change Academic Year</a>

                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="{% url 'add_academic_year' %}"><i class="fa fa-table fa-fw"></i>Add Academic Year</a>

                        <!-- /.nav-second-level -->
                    </li>


                    <li>
                        <!--  <a href="search-form.php"><i class="fa fa-edit fa-fw"></i> STUDENT SEARCH</a> -->
                    </li>
                    <li>
                        <!--   <a href="datasheet.php"><i class="fa fa-align-justify"></i>FEEDBACK</a> -->
                    </li>

                    <li>
                        <!--     <a href="tc_form.php"><i class="fa fa-align-justify"></i> ATTENDANCE</a> -->
                    </li>


                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    {% block content %}

    {% endblock %}

</div>
<!-- /#wrapper -->

<script>
    function PrintElem(elem) {
        var mywindow = window.open('', 'PRINT');

        mywindow.document.write('<html><head><title>' + document.title + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write('<h1>' + document.title + '</h1>');
        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>


<!-- Bootstrap Core JavaScript -->

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>


<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static 'vendor/raphael/raphael.min.js' %}"></script>
<!-- <script src="{% static 'vendor/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'data/morris-data.js' %}"></script>-->

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/sb-admin-2.js' %}"></script>


</body>

</html>
