{% extends "RITSOFT_APP/users/base.html" %}

{% block content %}
<style>
    td {
        padding: 0 15px 0 15px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .set-center {
        padding: 2pc 0;
        background: rgba(255, 255, 255, 0.9);
        z-index: 15;
    }

    .carousel-item {
        height: 100%;
    }

    br {
        display: none;
    }

    .now-on-top {
        position: absolute;
        top: 18%;
        width: 50%;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 1.5pc 0 !important;

    }

    .carousel-indicators, .carousel-control-prev, .carousel-control-next, .carousel-caption {
        display: none !important;
    }
</style>

<div class="now-on-top set-center mx-auto">
    <div class="row mx-auto">
        <div class="col-md-8 mx-auto">
            <form id="login" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table class="mx-auto">
                    <tr>
                        <td>
                            <h1 style="color : #fffff;"> Login </h1>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for message in messages %}
                            <div class="alert alert-danger">
                                <a class="close" href="#" data-dismiss="alert">×</a>
                                {{ message }}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="username" class="form-control" placeholder="Username"
                                   required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="password" name="password" class="form-control" placeholder="Password"
                                   required pattern="^[A-Za-z0-9@.\s]{2,50}$"
                                   title="Text contains only AlphaNumeric ,Space ,@ and Period"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary btn-block" data-toggle="modal"
                                   data-target="#myModal" name="login" value="Login"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><br><a href="forgotpwd.php"> Forgot Password</a>
                        </td>
                    </tr>
                </table>
            </form>


        </div>

    </div>
</div>

{% endblock content %}